body{
    background-image: url("Images/Coffee-beans-background.jpg");
    background-size: cover;
    padding: 20px;
    font-family: sans-serif;
}

.menu{
    background-color: burlywood;
    max-width: 500px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
}

h1, h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 1px;
}

h1{
    font-size: 40px;
}

h2{
    font-size: 30px;
}

.established{
    font-style: italic;
}

.item p{
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
}

.flavor, .dessert{
    width: 60%;
    text-align: left;
}

.price{
    width: 20%;
    text-align: right;
}

hr{
    background-color: brown;
    border-color: brown;
    height: 2px;
}

.bottom-line{
    margin-top: 25px;
    margin-bottom: 25px;
}

footer{
    font-size: 14px;
}

footer p a{
    color: black !important;
}

a:hover{
    color: brown;
}

a:visited{
    color: brown;
}